<div class="main">
    <div class="text">
        <h3>Wilson Miguel Rosa Ortiz</h3>
        <br>
        <p>Como desarrollador front-end, mi enfoque está en crear interfaces de usuario atractivas y funcionales para
            aplicaciones web. Mi objetivo es poder crecer profesionalmente en una empresa, aportando todo de mi y
            aprendiendo mucho de ella.
        </p>
        <br>
        <a href="/assets/docs/cv-wilson.pdf" target="_blank">
            <button class="boton">Descargar CV</button>
        </a>
    </div>
    <div class="image">
        <img src="https://scontent.fsti8-1.fna.fbcdn.net/v/t1.6435-9/74378653_2709880835766923_4932183835333885952_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHmuNwbBIKXVoRCH1sIO7VT6wZHGcjDG4DrBkcZyMMbgLMWT8MoMLw8qkGerKsUifA3A6ACfuEgo86f9w5uh17H&_nc_ohc=L2mwccoaQcQAX-oHqL_&_nc_ht=scontent.fsti8-1.fna&oh=00_AfDPhmdTPKqZibIQetiTfUf3PIBxCLiyQXeujifShQpGow&oe=64982427" alt="sig">
    </div>
</div>