<div class="main">
    <div class="text">
        <h3>Wilson Miguel Rosa Ortiz</h3>
        <br>
        <p>Como desarrollador front-end, mi enfoque está en crear interfaces de usuario atractivas y funcionales para
            aplicaciones web. Mi objetivo es poder crecer profesionalmente en una empresa, aportando todo de mi y
            aprendiendo mucho de ella.
        </p>
        <br>
        <a href="/assets/docs/cv-wilson.pdf" target="_blank">
            <button class="boton">Descargar CV</button>
        </a>
    </div>
    <div class="image">
        <img src="https://th.bing.com/th/id/OIP.Lpmij4ghv906bv0cV_CGVgHaKL?pid=ImgDet&rs=1" alt="sig">
    </div>
</div>