.main {
    height: 100%;
    width: 100%;
    background: #080808;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    padding-top: 150px;
}

.text {
    width: 50%;
}

.text h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.text p {
    color: dimgray;
    font-family: 'IBM Plex Mono', monospace;
}

.boton {
    padding: 15px 70px;
    font-size: 14px;
    color: white;
    background: rgb(34, 139, 34);
    border: none;
    box-shadow: 1px 1px 8px 3px rgba(34, 139, 34, 0.7);
    font-family: 'IBM Plex Mono', monospace;
}

.boton:hover {
    cursor: pointer;
    background: rgb(18, 192, 18);
}

.image {
    width: 31%;
}

.image img {
    width: 95%;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

@media (width < 1000px) {
    .main {
        gap: 20px;
    }

    .image {
        width: 50%;
    }

    .image img {
        width: 300px;
    }
}

@media (width < 800px) {
    .main {
        gap: 20px;
    }

    .image {
        width: 50%;
    }

    .image img {
        width: 300px;
    }
}

@media (width < 615px) {

    .image {
        display: none;
    }

    .text {
        width: 100%;
    }
}

@media (width < 510px) {

    .main {
        width: 100%;
    }

    .text {
        font-size: 14px;
    }

    p {
        animation-duration: 1s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 100%;
            opacity: 0;
        }

        to {
            margin-left: 0%;
            width: 100%;
            opacity: 1;
        }
    }

    .boton {
        font-size: 10px;
        padding: 10px 50px;
    }
}