<div class="main">
    <div class="text">
        <h3>Wilson Miguel Rosa Ortiz</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, corrupti facilis. Incidunt, labore. Omnis
            facere adipisci qui neque illum totam, autem dolore aspernatur hic aperiam accusantium consectetur nesciunt
            porro fugit!</p>
        <br>
        <button class="boton">Let's get started ></button>
    </div>
    <div class="image">
        <img src="https://th.bing.com/th/id/OIP.Lpmij4ghv906bv0cV_CGVgHaKL?pid=ImgDet&rs=1" alt="sig">
    </div>
</div>