<div class="footer">
    <footer>
        <a href="https://github.com/MetalRoz" target="_blank">
            <div class="icon github"><i class="fa-brands fa-github" style="color: #ffffff;"></i></div>
        </a>
        <a href="https://linkedin.com/in/wilson-rosa" target="_blank">
            <div class="icon linkedin"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></div>
        </a>
        <a href="https://wa.me/+542964665866" target="_blank">
            <div class="icon whatsapp"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></div>
        </a>
    </footer>
</div>