.header {
    background: #080808;
    font-family: 'IBM Plex Mono', monospace;
    position: fixed;
    width: 100%;
    padding: 15px;
}

.navbar {
    display: none;
}

.nav-item a {
    color: rgb(207, 206, 206);
}

.nav-item a:hover {
    cursor: pointer;
    color: rgb(156, 156, 156);
}

@media (width < 615px) {
    .nav {
        display: none;
    }

    .navbar {
        display: block;
    }

    .nav-item a {
        color: black;
    }
}