<h3>Proyectos</h3>
<div class="main">
    <div class="project" id="project">
        <img src="/assets/img/anime2sis.PNG" alt="">
        <h4>Anime2sis.com</h4>
        <p>Desarrollé esta página utilizando WordPress. Fue un proyecto personal para ver anime de manera online y sin
            publicidad.
        </p>
        <div class="btn-nobootstrap">
            <button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModaln4">
                Ver demo
            </button>
        </div>
        <div class="modal fade" id="exampleModaln4" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <video width="100%" controls>
                            <source src="/assets/videos/anime2sis.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project">
        <img src="/assets/img/encriptar.PNG" alt="">
        <h4>Encriptador de Textos</h4>
        <p>Realicé este encriptador y desencriptador de textos utilizando
            HTML, CSS Y JAVASCRIPT. Este mismo fue un proyecto de dessarrollador
            Front-End de ONE - ORACLE.
        </p>
        <div class="btn-nobootstrap">
            <a href="https://metalroz.github.io/Encriptador-de-textos/" target="_blank">
                <button class="boton">Ver demo</button>
            </a>
        </div>
    </div>
</div>