<h3>Proyectos</h3>
<div class="main">
    <div class="project" id="project">
        <img src="https://th.bing.com/th/id/R.ef6602655ed0bf1cbc6166c0de15fd8a?rik=RJjNlO7D5JF6zw&pid=ImgRaw&r=0"
            alt="">
        <h4>Work name here</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores voluptatum itaque delectus molestias
            exercitationem incidunt neque animi ?</p>
        <div class="btn-nobootstrap">
            <button class="boton">Know boton</button>
        </div>
    </div>

    <div class="project">
        <img src="https://th.bing.com/th/id/R.ddf8d1dfc1236f83e7771089cdfa462a?rik=9zmFq5TAL%2bqMyg&pid=ImgRaw&r=0"
            alt="">
        <h4>Work name here</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores voluptatum itaque delectus molestias
            exercitationem incidunt neque animi ?</p>
        <div class="btn-nobootstrap">
            <button class="boton">Know boton</button>
        </div>
    </div>
</div>