<h3>Proyectos</h3>
<div class="main">
    <div class="project" id="project">
        <img src="/assets/img/anime2sis.PNG" alt="">
        <h4>Anime2sis.com</h4>
        <p>Desarrollé esta página utilizando WordPress. Fue un proyecto personal para ver anime de manera online y sin
            publicidad.
        </p>
        <div class="btn-nobootstrap">
            <button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModaln4">
                Ver demo
            </button>
        </div>
        <div class="modal fade" id="exampleModaln4" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <video width="100%" controls>
                            <source src="/assets/videos/anime2sis.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project">
        <img src="https://th.bing.com/th/id/R.ddf8d1dfc1236f83e7771089cdfa462a?rik=9zmFq5TAL%2bqMyg&pid=ImgRaw&r=0"
            alt="">
        <h4>Work name here</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores voluptatum itaque delectus molestias
            exercitationem incidunt neque animi ?</p>
        <div class="btn-nobootstrap">
            <button class="boton">Know boton</button>
        </div>
    </div>
</div>