<h3>Educación</h3>
<div class="container-left" id="education">
    <div class="text">
        <span class="place">UTEL UNIVERSIDAD</span>
        <h4>Ingeniería en Sistemas Computacionales</h4>
        <p> 2023 - En curso</p>
        <div class="btn-edu">
            <button type="button" class="boton btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaln1">
                Ver plan de estudios
            </button>
        </div>
        <div class="modal fade" id="exampleModaln1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="350px"
                            src="https://cmsutel.s3.amazonaws.com/Utel_Argentina_Fichas_Tecnicas_Lic_Ingenieriaen_Sistemas_Computacionales_4a0f95a365.pdf"
                            frameborder="0"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="https://th.bing.com/th/id/R.d94d63f8317a2cee8c627c3791f5cfcb?rik=T%2f6BLk4YINJJmA&pid=ImgRaw&r=0"
            alt="">
    </div>
</div>

<div class="container-right">
    <div class="image">
        <img src="https://th.bing.com/th/id/R.1633e4f6462c8c38a7bfe34a45d2919a?rik=FxH5w1856JDdDw&pid=ImgRaw&r=0"
            alt="">
    </div>
    <div class="text">
        <span class="place">ONE - ORACLE</span>
        <h4>Desarrollador Front-End</h4>
        <p> 2023 - En curso</p>
        <div class="btn-edu">
            <button type="button" class="boton btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaln2">
                Ver plan de estudios
            </button>
        </div>
        <div class="modal fade" id="exampleModaln2" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="358" src="https://www.youtube.com/embed/B8b7cKbSuO0"
                            title="Introducción a formación front-end" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-left">
    <div class="text">
        <span class="place">ARGENTINA PROGRAMA</span>
        <h4>Programación Web</h4>
        <p> 2022 - 2023</p>
        <div class="btn-edu">
            <button type="button" class="boton btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaln3">
                Ver plan de estudios
            </button>
        </div>
        <div class="modal fade" id="exampleModaln3" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="358" src="/assets/docs/argprog.pdf"
                            title="Introducción a formación front-end" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="https://www.tecnoschool.com.ar/img/slider/programacion-web.jpg" alt="">
    </div>
</div>