<h3>Educación</h3>
<div class="container-left" id="education">
    <div class="text">
        <span class="place">UTEL UNIVERSIDAD</span>
        <h4>Ingeniería en Sistemas Computacionales</h4>
        <p> 2023 - En curso</p>
        <div class="btn-edu">
            <button class="boton">Ver plan de estudios</button>
        </div>
    </div>
    <div class="image">
        <img src="https://th.bing.com/th/id/R.d94d63f8317a2cee8c627c3791f5cfcb?rik=T%2f6BLk4YINJJmA&pid=ImgRaw&r=0"
            alt="">
    </div>
</div>

<div class="container-right">
    <div class="image">
        <img src="https://th.bing.com/th/id/R.1633e4f6462c8c38a7bfe34a45d2919a?rik=FxH5w1856JDdDw&pid=ImgRaw&r=0"
            alt="">
    </div>
    <div class="text">
        <span class="place">ONE - ORACLE</span>
        <h4>Desarrollador Front-End</h4>
        <p> 2023 - En curso</p>
        <div class="btn-edu">
            <button class="boton">Ver plan de estudios</button>
        </div>
    </div>
</div>

<div class="container-left">
    <div class="text">
        <span class="place">ARGENTINA PROGRAMA</span>
        <h4>Programación Web</h4>
        <p> 2022 - 2023</p>
        <div class="btn-edu">
            <button class="boton">Ver plan de estudios</button>
        </div>
    </div>
    <div class="image">
        <img src="https://www.tecnoschool.com.ar/img/slider/programacion-web.jpg" alt="">
    </div>
</div>