.main {
    background: #080808;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
}
.icons { 
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 100px;
    gap: 120px;
    flex-wrap: wrap;
    padding: 100px;
    width: 100%;
}

.icons i {
    display: flex;
    justify-content: center;
    width: 20%;
}